.main-header {
	margin: 0;
}

.main-header--top {
	margin: 0;
	margin-bottom: 45px;
	padding: 10px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.main-header__logo img {
	width: 80px;
	order: 1;
}

.header__search-form {
	position: relative;
	flex-basis: 100%;
	order: 3;
}

.header__search-input {
	width: 100%;
	padding: 5px 40px 8px 10px;
	box-sizing: border-box;

	font-family: 'open_sansregular', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: $grey;

	border: 1px solid rgb(225, 225, 225);
	outline-color: $darkGreen;
}

input[type=text]::-ms-clear, 
input[type=text]::-ms-reveal {  
	display: none; width : 0; height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { 
	display: none;
}

.header__search-btn {
	position: absolute;
	top: 0;
	right: 0;

	width: 40px;
	height: 100%;

	background-color: transparent;
	border: none;

	&::before {
		content: '';

		position: absolute;
		top: 15%;
		left: 50%;

		transform: translateX(-50%);

		width: 22px;
		height: 22px;

		background-image: url(../../build/img/search.png);
		background-repeat: no-repeat;
	}
}

.user-cart {
	order: 2;
	display: flex;
	align-items: center;
	justify-content: space-between;

	color: $grey;
	text-shadow: 1px -20px 20px transparent;
	text-decoration: none;

	transition: all .6s;

	& img {
		width: 25px;
		margin-right: 10px;
	}

	&:hover,
	&:focus {

		color: $lightGreen;
		text-shadow: 0px 0px 0px $lightGreen;

		& img {
			animation: pendulum 2s ease-out;
		}
	}

	&:active {
		opacity: 0.3;
	}
}

.user-cart__value {
	font-size: 26px;
	line-height: 30px;
}

.main-header--bottom {
	position: relative;
	background-color: $lightGreen;
}

.main-nav__toggle {
	position: absolute;
	top: -45px;
	right: 0;

	padding: 0;
	width: 100%;
	height: 45px;

	border: none;
	border-bottom: 2px solid #fff;
	background-color: $darkGreen;
	outline: none;
}

.main-nav__toggle-text {
	color: #fff;
}

.main-nav__list {
	@include list-reset;

	text-align: center;
}

.nav-list__item {
	position: relative;

	&:hover a,
	&:focus a {
			color: transparent;
			text-shadow: 0px 0px 0px #fff;
		}

	&:active {
		opacity: 0.3;
	}

	&:not(:first-child)::before {
		content: '';

		position: absolute;
		top: 0;
		left: 50%;

		transform: translateX(-50%);

		width: 50px;
		height: 2px;

		background-color: $darkGreen;
	}

	& a {
		display: block;

		padding: 10px 20px;
		margin: 0 10px;
		font-size: 21px;
		line-height: 23px;

		color: #fff;
		text-shadow: -10px -20px 10px transparent;
		text-decoration: none;

		transition: all .5s;
	}
}

.main-nav--closed .nav-list__item {
	display: none;
}

@keyframes pendulum {
  0% { transform-origin: center top; transform: rotate(-20deg); }
  25% { transform-origin: center top; transform: rotate(20deg); }
  50% { transform-origin: center top; transform: rotate(-20deg); }
  100% { transform-origin: center top; transform: rotate(0deg); }
}