.hits {
	position: relative;

	padding: 0 10px;
	background-image: url(../../build/img/background-green.jpg);
	background-repeat: repeat;
	background-color: $darkGreen;
}

input[type="radio"] {
	position: absolute;

	left: 50%;
	bottom: 0;
}

.slider {
	position: relative;

	padding-top: 40px;
	padding-bottom: 40px;

	text-align: center;
}

.slider__list {
	@include list-reset;
}

.slider-list__item {
	display: none;
}

.slide__wrapper {
	text-align: center;	
}

#btn-1:checked ~ .slider #slide1,
#btn-2:checked ~ .slider #slide2,
#btn-3:checked ~ .slider #slide3,
#btn-4:checked ~ .slider #slide4,
#btn-5:checked ~ .slider #slide5 {
	display: block;
}

#btn-1:checked ~ .slider label[for="btn-1"],
#btn-2:checked ~ .slider label[for="btn-2"],
#btn-3:checked ~ .slider label[for="btn-3"],
#btn-4:checked ~ .slider label[for="btn-4"],
#btn-5:checked ~ .slider label[for="btn-5"] {
	background-color: $lightGreen;
}

.item__image {
	width: 150px;
	margin-bottom: 20px;
}

.item__title {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;

	font-size: 31px;
	line-height: 31px;
	font-weight: 300;
	color: #fff;
}

.item__description {
	display: none;
}

.item__button {
	display: inline-block;
	padding: 5px 25px;

	font-size: 27px;
	line-height: 31px;

	text-decoration: none;
	color: #fff;
	text-shadow: 40px 40px 0px transparent, -40px -40px 0px transparent;
	border: 3px solid #fff;
	border-radius: 10px;

	transition: all .5s;

	&:hover,
	&:focus {
		color: transparent;
		text-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff;
	}
}

.slider__controls {
	position: absolute;

	bottom: 5px;
	left: 50%;

	transform: translate(-50%);

	font-size: 0;

	z-index: 20;
}

.slider__controls label {
	display: inline-block;
	margin: 0 5px;
	vertical-align: middle;

	width: 9px;
	height: 9px;

	border-radius: 50%;
	background-color: #fff;

	cursor: pointer;

	&:hover,
	&:focus {
		transform: scale(1.3);
	}
}

@media (min-width: $tablet-width) {
	.hits {
		padding: 0 30px;
	}

	.slider {
		padding-top: 65px;
		padding-bottom: 65px;
	}


	.slide__wrapper {
		display: flex;		
	}

	.item__column--left {
		flex-basis: 50%;
	}

	.item__column--right {
		flex-basis: 50%;
		text-align: left;
	}

	.item__image {
		width: auto;
		margin-bottom: 0;
	}

	.item__title {
		margin: 0;
		margin-bottom: 20px;
	
		font-size: 61px;
		line-height: 61px;
	}

	.item__description {
		display: block;

		font-family: 'open_sansregular';
		font-size: 17px;
		line-height: 28px;
		color: #fff;
	}


	.slider__controls {
		bottom: 20px;
	}
}

@media (min-width: $desktop-width) {
	.hits {
		padding: 0 128px;
	}

	.slider {
		padding-top: 70px;
		padding-bottom: 45px;
	}


	.item__column--left {
		flex-basis: 45%;
	}

	.item__title {
		margin: 0;
		margin-bottom: 10px;
		padding-right: 100px;
	}

	.item__description {
		margin: 0;
		margin-bottom: 20px;
		padding-right: 130px;	
	}

	.slider__controls {
		bottom: 25px;
	}
}