.product-groups {
	position: relative;
}

.btn-arrow {
	position: absolute;
	top: 0;

	height: 100%;
	width: 10%;

	border: none;
	background-color: transparent;
	outline: none;	
	cursor: pointer;

	&::before,
	&::after {
		content: "";

		position: absolute;

		width: 2px;
		height: 23%;

		background-color: $grey;
		opacity: 0.3;
		transition: .4s;
		z-index: 10;
	}

	&::before {
		top: 30%;
		left: 50%;

		transform: rotate(30deg);
	}

	&::after {
		top: 50%;
		left: 50%;	

		transform: rotate(-30deg);
	}

	&:hover::before,
	&:focus::before,
	&:hover::after,
	&:focus::after {
		opacity: 0.1;
	}

	&:active::before,
	&:active::after {
		opacity: 0;
	}
}

.btn-arrow--prev {
	left: 0;
}

.btn-arrow--next {
	right: 0;
	transform: rotate(180deg);
}

.product-groups__list {
	@include list-reset;
	padding: 10px;

	display: flex;
	overflow: hidden;
}

.product-groups__item {
	min-width: 320px;
	display: flex;
	align-items: center;
}

.product-item__column--left {
	flex-basis: 65%;

	display: flex;
	justify-content: center;
}

.product-item__column--right {
	flex-basis: 35%;
}

.product-groups__title {
	margin: 0;
	margin-bottom: 20px;

	font-size: 27px;
	line-height: 29px;
	font-weight: 300;
}

.product-groups__buy-btn {
	display: inline-block;
	padding: 5px 10px;
	font-size: 19px;
	line-height: 21px;

	color: #fff;
	text-decoration: none;
	border-radius: 3px;
	background-color: $buttonGreen;
}

